body
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* background-color: #f0f0f0; */
    background-color: rgb(138, 43, 226, 0.7);
}

.loader
{
    width: 50px;
    height: 50px;
    margin: 20px;
}

#loader1
{
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin
{
    0%
    {
        transform: rotate(0deg);
    }

    100%
    {
        transform: rotate(360deg);
    }
}

#loader2
{
    background-color: aqua;
    border-radius: 50%;
    animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse
{
    0%
    {
        transform: scale(0.8);
    }

    50%
    {
        transform: scale(1);
    }

    100%
    {
        transform: scale(0.8);
    }

}

#loader3
{
    width: 10px;
    height: 10px;
    background-color: brown;
    border-radius: 50%;
    animation: bounce 1s infinite ease-in-out;
}

@keyframes bounce
{
    0%, 100%
    {
        transform: translateY(0);
    }

    50%
    {
        transform: translateY(-20px);
    }
}

#loader4
{
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
}

#loader4::before, #loader4::after
{
    content: " ";
    width: 8px;
    background-color: blue;
    border-radius: 5px;
    animation: stretch 1.2s ease infinite;
}

#loader4::after
{
    animation-delay: 500ms;
}

@keyframes stretch
{
    0%, 40%, 100%
    {
        transform: scaleY(0.4);
    }

    20%
    {
        transform: scaleY(1);
    }

}

#loader5
{
    display: flex;
    justify-content: space-around;
}

#loader5::before, #loader5::after
{
    content: " ";
    background-color: crimson;
    width: 6px;
    height: 6px;
    border-radius: 50%;

    animation: dots 1.2s ease-in-out infinite;
}

#loader5::after
{
    animation-delay: 700ms;
}

@keyframes dots
{
    0%, 50%, 100%
    {
        transform: scale(0);
    }

    40%
    {
        transform: scale(1);
    }
}

#loader6
{
    border: 8px solid transparent;
    border-radius: 50%;
    border-top: 8px solid #e47615;
    border-bottom: 8px solid #e47615;
    animation: circle-fade 1.5s ease-in-out infinite;
}

@keyframes circle-fade
{
    0%, 100%
    {
        opacity: 0;
    }

    50%
    {
        opacity: 1;
    }
}

#loader7
{
    width: 60px;
    height: 60px;
    border: 4px solid orange;
    border-radius: 50%;
    border-top: 4px solid transparent;

    animation: dual-ring 1.2s linear infinite;
}

@keyframes dual-ring
{
    0%
    {
        transform: rotate(0deg);
    }

    100%
    {
        transform: rotate(360deg);
    }
}

#loader8
{
    background-color: purple;
    animation: square 1.2s infinite;
}

@keyframes square
{
    0%, 100%
    {
        transform: scale(1);
    }

    50%
    {
        transform: scale(0.5);
    }
}

#loader9
{
    display: flex;
    justify-content: space-around;
}

#loader9::before, #loader9::after, #loader9 div
{
    content: " ";
    width: 8px;
    height: 8px;
    background-color:purple;
    border-radius: 50%;

    animation: roller 1.2s ease-in-out infinite;
}

#loader9 div
{
    animation-delay: 350ms;
}

#loader9::after
{
    animation-delay: 700ms;
}

@keyframes roller
{
    0%
    {
        transform: scale(0);
    }

    100%
    {
        transform: scale(1);
    }
}